html, body, .estreno {
    font-family: 'Open Sans', sans-serif;
        height: 100%;
    }
    header {
        height: 100px;
        width: 100%;
    }
    .color_text_global {
        color: #D9D9D9;
    }  
    /*NAV*/
    .logoCenter {
        width: 70px;
    }
    .navbar-brand {
        margin: 0;
    }
    .link {
        font-size: 25px;
        font-weight: 400;
        color: rgb(105, 255, 51);;
        border-bottom: 2px solid transparent;
    }
    .link:hover {
        color: #D9D9D9;
        text-decoration: none;
    }
    .link:focus {
        color: #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
    }
    .nav-item {
        padding-right: 60px;
    }
    /* Icono en NAV */
    .nav-icon {
        padding-right: 10px;
    }
    .icon-img {
        border: 2px solid transparent;
    }
    .icon-img:hover {
        border: 2px solid rgb(105, 255, 51);
    }
    .nav-bg {
        max-width: 1920px;
        height: 100px;
        padding-left: 140px;
        padding-right: 140px;
        background: linear-gradient(rgb(217, 217, 217) 0%, rgba(255, 255, 255, 0) 75%);
    }
    .nav__elements {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .background_nav {
        height: 275px;
        width: 1920px;
        background-color: black;
    }

    .title_dark {
        visibility: visible;        
        color: rgb(37, 0, 56);
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .title_dark_mobile {
        visibility: hidden;
        display: none;
    }
    .subtitle {
        width: 100%;
        visibility: visible;   
        padding: 0px 310px; 
    }
    .subtitle_mobile {
        visibility: hidden;
        display: none;
    }
    .separator_nav {
        width: 100%;
        margin-top: 0px;
        border: 0; border-top: 2px solid rgba(105,255,51);
        margin-bottom: 0px;
    }
    .separator {
        margin-top: 0px;
        border: 0; border-top: 2px solid rgba(105,255,51);
        width: 67%;
        margin-bottom: 40px;

    }
    .separator_mobile {
        margin-bottom: 20px;
    }
    .container_steps {
        width: 420px;
        margin-bottom: 50px;
    }

    .multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
        content: counter(stepNum);
        font-family: inherit;
        font-weight: 700;
   }
    .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
        background-color: rgb(217, 217, 217);
   }
    .multi-steps {
        display: table;
        table-layout: fixed;
        width: 100%;
   }
    .multi-steps > li {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: rgb(37, 0, 56);
   }
    .multi-steps > li:before {
        content: '\f00c';
        content: '\2713';
        content: '\10003';
        content: '\10004';
        content: '\2713';
        display: block;
        margin: 0 auto 4px;
        background-color: #fff;
        width: 36px;
        height: 36px;
        line-height: 32px;
        text-align: center;
        font-weight: bold;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(37, 0, 56);
        border-radius: 50%;
        z-index: 1;
   }
    .multi-steps > li:after {
        content: '';
        height: 7px;
        width: 100%;
        margin-left: 18px;
        background-color: rgb(37, 0, 56);
        position: absolute;
        top: 16px;
        left: 50%;
        z-index: 0;
   }
    .multi-steps > li:last-child:after {
        display: none;
   }
    .multi-steps > li.is-active:before {
        background-color: rgb(105, 255, 51);
        border-color: rgb(105, 255, 51);
   }
    .multi-steps > li.is-active ~ li {
        color: rgb(112, 112, 112);
   }
    .multi-steps > li.is-active ~ li:before {
        background-color: #ededed;
        border-color: #ededed;
   }
    
    
    h1 {
        margin-bottom:50px;
    }
    
    h1.card-title {
        font-weight: 600;
    }
    
    .buttonForm {
        width: 300px;   
        height: 50px; 
        margin-top: 20px;
    }
    .newAcount {
        margin-top: 100px;
        margin-bottom: -5px;
        text-align: center;
    }
    /* Button */
   
    .contain_btn {
        display: flex;
    }
    .btn-second {
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0,.7) 0%, rgba(37, 0, 56,.7) 44%,rgba(37, 0, 56,.7));
        width: 250px;
        height: 60px;
        border: 0 solid transparent !important;
        font-weight: bold !important;
        font-size: 22px !important;        
        letter-spacing: 0.49px;
        margin-bottom: 7rem;
        margin-top: 40px;
    }
    .btn-second > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 50px;        
        text-decoration: none;
        color:  rgb(217, 217, 217) !important;
    }
    .btn-second:hover {
        background: linear-gradient(rgba(0, 0, 0,.9) 0%, rgba(37, 0, 56,.9) 44%,rgba(37, 0, 56,.9)) !important;
        color:  rgb(217, 217, 217) !important;
    }
    

    .btn-second:active {
        color:rgb(37, 0, 56) !important;
        background: linear-gradient(rgba(0, 0, 0,.7) 0%, rgba(37, 0, 56,.7) 44%,rgba(37, 0, 56,.7));
        border: 4px solid   rgb(217, 217, 217)  !important;
    }
    .btn-primary {
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#d4fcc6 0%, #79ff4a 44%, #6fff3c 100%);
        width: 250px;
        height: 60px;
        border: 0 solid transparent !important;
        font-weight: bold !important;
        font-size: 22px !important;        
        letter-spacing: 0.49px;
        margin-bottom: 50px;
        margin-top: 40px;
        color:  rgb(37, 0, 56);
    }
    
    .btn-primary > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 310px;
        height: 50px;
        color:  rgb(37, 0, 56) !important;
        text-decoration: none;
      }
        
    .btn-primary:hover {
        background-color: rgb(37, 0, 56) !important;
        border: 2px solid  rgb(37, 0, 56) !important;
        color:  rgb(37, 0, 56) !important;
    }
    .btn-primary:active {
        border: 3px solid  rgb(37, 0, 56) !important;        
        color:  rgb(217, 217, 217) !important;
        background:  linear-gradient(#d4fcc6 0%, #79ff4a 44%, #6fff3c 100%) !important;        
    }
    .form-check {
        padding-left: 0px;
    }
    .form-check-label {
        margin-left: 30px;
    }
    
    .form-check-input {
        margin-left: 0px;
        height: 20px;
        width: 20px;
    }
    .containerItemForm {
        justify-content: space-around;
    }
    .input {
        margin-bottom: 10px;
        margin-top: 40px;
        border-radius: 0px;
        background: rgb(217, 217, 217);
        border: none;
        background-clip: border-box;
        height: 50px;
        font-size: 16px;
    }
    
    .input:focus {
        background-color: rgb(217, 217, 217);
        color: rgb(37, 0, 56);
        box-shadow: 0 0 0 2px rgba(105,255,51,.8);
    }
    
    /*BODY*/
    .container {
        margin: 0px;  
        margin-top: 0px; 
        width: 1920px;
        max-width: 1920px;
        background-image: linear-gradient(rgb(255,255, 255) 0%,rgb(217, 217, 217) 100%);
        background-size: cover;
        display: flex;
        align-items: center; 
        flex-direction: column;
        z-index: -2;
    }
    
    .estreno-nighx {
        position: absolute;
        width: 900px;
        height: 348px;
        left: 142px;
        top: 700px;
        color: rgb(217, 217, 217);
        font-weight: normal;
    }
    .estreno-nighx h1 {
        font-size: 50px;
    }
    .estreno-nighx p {
        font-size: 30px;
        line-height: 55px;
    }
    .estreno-nighx .btn {
        bottom: 20px;
    }
    .estreno-buttons {
        display: grid;
        grid-template-columns: 40% 50%;
    }
    
    h2 {
        color: rgb(37, 0, 56);
    }

    /*CARDS*/
    .card-header{
        padding: 20px 40px;
        background-color: rgba(37, 0, 56);
        color: rgb(217, 217, 217);
    }
    .list-unstyled {
        font-size:18px;
    }
    .mb-3, .my-3 {
        width: 1300px;
    }
   .container_subtitle {
     width: 1300px;
     padding: 0px 20px 20px 20px;
     margin-bottom: 20px;  
     display: contents;
     justify-content: center; 
   }
    .card {
        margin-left: 20px;
        margin-right: 20px;
        background: linear-gradient(rgba(255,255,255,0)0%,rgb(255,255,255)75%, rgb(217,217,217) 100%);
        color: rgb(37,0,56);

    }
    .card:hover > .card-header > h3 {
        color: rgb(105,255,51);
    }
    .card:hover {
        background: white;
        font-weight: 600 !important;
    }
    .card:active {
        background: linear-gradient(rgb(255,255,255)0%,rgb(255,255,255)85%, rgb(105,255,51.6) 100%);
    }
    .card-derck {
        height: 300px;
    }
    .card-body {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon-violet-btn {
        position: absolute;
        color: rgb(217, 217, 217);
        background: rgba(41,6,60,.5);
        border-color: rgb(105, 255, 51);
    }
    .icon-violet-btn:hover {
        background: rgba(41,6,60,1);
        border-color: rgb(105, 255, 51);;
    }
    .icon-violet-btn .btn-text {
        position: relative;
        right: -30px;
    }
    /* iconos en botones */
    .icon {
        position: absolute;
        left: 20px;
        padding-right: 30px;
    }
    /* FOOTER */
    .footerContainer {
        height: 500px;
        width: 1920px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    .footerInfoContainer {
        display: block;
        width: 100%;
    } 
    .icons-social {
        margin-bottom: 60px;
    }
    footer {
        width: 1920px;
        background: black;
        border-top: 4px solid rgb(105, 255, 51);;
        text-align: center;
        color: rgb(112, 112, 112);
    }
    footer .links {
        height: 430px;
        font-size: 22px;
        padding-top: 110px;
        padding-bottom: 20px;
    }
    .footer-logo{
        height: 50px;
        margin-bottom: 30px;
    }
    .links a {
        /* text-decoration: none; */
        color: rgb(112, 112, 112);
        display: inline-block;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .links a:hover {
        color: rgb(217, 217, 217);
    }
    footer .copyright {
        height: 100px;
        border-top: 2px solid rgb(105, 255, 51);;
        padding: 35px 0;
        font-size: 18px;
    }
    /* FOOTER Mobile */
    @media (max-width: 375px) {
        header {
            width: 375px;
            height: 100px;
        }
       .background_nav {
           max-width: 375px;
       }
        .nav-bg {
            width: 375px;
            height: 100px;
        }
        .separator {
            width: 88%;
        }
        .title_dark {
            display: none;
            visibility: hidden;                
        }
        .title_dark_mobile {
            color: rgb(37, 0, 56);
            visibility: visible; 
            display: inline-block;       
            text-align: center;
            font-size: 32px;
            margin-bottom: 0px;
            margin-top: 30px;
        }
        .subtitle {
            display: none;
            visibility: hidden;       
        }
        .subtitle_mobile {
            color: rgb(37, 0, 56);
            visibility: visible; 
            display: inline-block;       
            font-size: 25px;
            margin-bottom: 10px;
            text-align: center;
        }
        .container_steps {
            width: 350px;
        }
        .container_subtitle {
            width: 375px;
        }
        .btn-primary > a {         
            color:  rgba(37, 0, 56) !important;          
        }
        .btn-primary {         
            background: linear-gradient(#d4fcc6 0%, #79ff4a 44%, #6fff3c 100%);
        }
        .container_form {
            width: 100%;
        }
        .container {
            max-width: 375px;
        }
        .container-steps {
            max-width: 375px;
        }
        .card {
            max-width: 375px;
        }
        .mb-3 {
            max-width: 350px;
        }
        footer {
            width:375px;
        }

    }