html, body, .estreno {
    font-family: 'Open Sans', sans-serif;
        height: 100%;
    }
    header {
        height: 100pxv;
        width: 100%;
    }
    .color_text_global {
        color: #D9D9D9;
    }  
    /*NAV*/
    .logoCenter {
        width: 70px;
    }
    .navbar-brand {
        margin: 0;
    }
    .link {
        font-size: 25px;
        font-weight: 400;
        color: rgb(105, 255, 51);;
        border-bottom: 2px solid transparent;
    }
    .link:hover {
        color: #D9D9D9;
        text-decoration: none;
    }
    .link:focus {
        color: #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
    }
    .nav-item {
        padding-right: 60px;
    }
    /* Icono en NAV */
    .nav-icon {
        padding-right: 10px;
    }
    .icon-img {
        border: 2px solid transparent;
    }
    .icon-img:hover {
        border: 2px solid rgb(105, 255, 51);
    }
    .nav-bg {
        max-width: 1920px;
        height: 100px;
        padding-left: 140px;
        padding-right: 140px;
        background: linear-gradient(rgb(217, 217, 217) 0%, rgba(255, 255, 255, 0) 75%);
    }
    .nav__elements {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .background_nav {
        height: 275px;
        width: 1920px;
        background-color: black;
    }

    .title_dark {
        visibility: visible;        
        color: rgb(37, 0, 56);
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .title_dark_mobile {
        visibility: hidden;
        display: none;
    }
    hr {
        margin-top: 0px;
        border: 0; border-top: 2px solid rgba(105,255,51);
        width: 100%;
        margin-bottom: 0px;

    }
    form {
        display: block;
        justify-content: center;
        align-items: center;
        width: 450px;
    }
    .form-control {
        display: block;
        justify-content: center;
        align-items: center;
        width: 450px;
        width: 100%;
    }
    
    .container_steps {
        width: 620px;
        margin-bottom: 50px;
    }
     .multi-steps > li:after {
        height: 7px;
    }
    #Paso2::before {
        border-color: rgb(105,255,51);
        background-color: rgba(105,255,51) !important;
    }
    #Paso1::after {
        background-color: rgba(105,255,51) !important;
    }
    .multi-steps > li.is-active:before {
        background-color: rgba(105,255,51) !important;
    }
    .multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
        content: counter(stepNum);
        font-family: inherit;
        font-weight: 700;
   }
    .multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
        background-color: rgb(217, 217, 217);
   }
    .multi-steps {
        display: table;
        table-layout: fixed;
        width: 100%;
   }
    .multi-steps > li {
        counter-increment: stepNum;
        text-align: center;
        display: table-cell;
        position: relative;
        color: rgb(37, 0, 56);
   }
    .multi-steps > li:before {
        content: '\f00c';
        content: '\2713';
        content: '\10003';
        content: '\10004';
        content: '\2713';
        display: block;
        margin: 0 auto 4px;
        background-color: #fff;
        width: 36px;
        height: 36px;
        line-height: 32px;
        text-align: center;
        font-weight: bold;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(37, 0, 56);
        border-radius: 50%;
        z-index: 1;
   }
    .multi-steps > li:after {
        content: '';
        height: 7px;
        width: 100%;
        margin-left: 18px;
        background-color: rgb(37, 0, 56);
        position: absolute;
        top: 16px;
        left: 50%;
        z-index: 0;
   }
    .multi-steps > li:last-child:after {
        display: none;
   }
    .multi-steps > li.is-active:before {
        background-color: rgb(105, 255, 51);
        border-color: rgb(105, 255, 51);
        color: rgb(37, 0, 56);
        z-index: 1;

   }
    .multi-steps > li.is-active ~ li {
        color: rgb(112, 112, 112);
   }
    .multi-steps > li.is-active ~ li:before {
        background-color: #ededed;
        border-color: #ededed;
   }
    
    
    h1 {
        margin-bottom:50px;
    }
    
    h1.card-title {
        font-weight: 600;
    }
    
    .buttonForm {
        width: 300px;   
        height: 50px; 
        margin-top: 20px;
    }
    .newAcount {
        margin-top: 100px;
        margin-bottom: -5px;
        text-align: center;
    }
    /* Button */
    
    /* Button */
   
  .btn-primary > a {
    width: 250px;
    height: 52px;
    color:  rgb(37, 0, 56) !important;
    text-decoration: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    div.fa-arrow-circle-left {
        width: 50px;
    }
    .btn-primary {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#d4fcc6 0%, #79ff4a 44%, #6fff3c 100%);
        width: 250px;
        height: 60px;
        border: 0 solid transparent !important;
        font-weight: bold !important;
        font-size: 22px !important;        
        letter-spacing: 0.49px;
        margin-bottom: 7rem;
        display: flex;
        padding: 0;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0 rgba(255,255,255,.0) !important;
        outline: none;
    }
  

    .btn-primary:hover {
        border: 3px solid  rgb(37, 0, 56) !important;
        margin-top: 86px;
        color:  rgb(37, 0, 56);
    }
   
    .btn-primary > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 50px;
        color:  rgb(37, 0, 56) !important;
        text-decoration: none;
      }
        .btn-primary {
            background: linear-gradient(#d4fcc6 0%, #79ff4a 44%, #6fff3c 100%);
            width: 250px;
            height: 60px;
            border: 0 solid transparent !important;
            font-weight: bold !important;
            font-size: 22px !important;        
            letter-spacing: 0.49px;
            margin-bottom: 7rem;      
        }
    
        .btn-primary:hover {
            background-color: rgb(37, 0, 56) !important;
            border: 2px solid  rgb(37, 0, 56) !important;
            color:  rgb(37, 0, 56) !important;
        }
        .btn-primary:active {
            color:rgb(37, 0, 56) !important;
            background-color:  linear-gradient(#d4fcc6 0%, #79ff4a 44%, #6fff3c 100%) !important;
            border-color: rgb(37, 0, 56) !important;
            border: 4px solid  rgb(37, 0, 56) !important;
        }
    .form-check {
        padding-left: 0px;
    }
    .form-check-label {
        margin-left: 30px;
    }
    
    .form-check-input {
        margin-left: 0px;
        height: 20px;
        width: 20px;
    }
    .containerItemForm {
    justify-content: space-around;
    }
    .input {
        margin-bottom: 10px;
        margin-top: 40px;
        border-radius: 0px;
        background:white;
        border: none;
        background-clip: border-box;
        height: 50px;
        font-size: 16px;
    }
    
    .input:focus {
        color: rgb(37, 0, 56);
        box-shadow: 0 0 0 2px rgba(105,255,51,.8);
    }
    
    /*BODY*/
    .container {
        margin: 0px;  
        margin-top: 0px; 
        width: 1920px;
        max-width: 1920px;
        background-image: linear-gradient(rgb(255,255, 255) 0%,rgb(217, 217, 217) 100%);
        background-size: cover;
        display: flex;
        align-items: center; 
        flex-direction: column;
        z-index: -2;
    }
    
    .estreno-nighx {
        position: absolute;
        width: 900px;
        height: 348px;
        left: 142px;
        top: 700px;
        color: rgb(217, 217, 217);
        font-weight: normal;
    }
    .estreno-nighx h1 {
        font-size: 50px;
    }
    p {
        color: rgb(37,0,56);
    }
    .estreno-nighx p {
        font-size: 30px;
        line-height: 55px;
    }
    .estreno-nighx .btn {
        bottom: 20px;
    }
    .estreno-buttons {
        display: grid;
        grid-template-columns: 40% 50%;
    }
    
    h2 {
        color: rgb(37, 0, 56);
    }
  
    /*CARDS*/
    .card-header{
        padding: 20px 40px;
        background-color: rgba(37, 0, 56);
        color: rgb(217, 217, 217);
    }
    .list-unstyled {
        font-size:18px;
    }
    .mb-3, .my-3 {
        width: 1300px;
    }
    
   .container_subtitle {
     width: 1300px;
     padding: 0px 20px 20px 20px;
     margin-bottom: 20px;   
   }
    .card {
        margin-left: 20px;
        margin-right: 20px;
        background: linear-gradient(rgba(255,255,255,0)0%,rgb(255,255,255)75%, rgb(217,217,217) 100%);
        color: rgb(37,0,56);

    }
    .card:hover > .card-header > h3 {
        color: rgb(105,255,51);
    }
    .card:hover {
        background: white;
        font-weight: 600 !important;
    }
    .card:active {
        background: linear-gradient(rgb(255,255,255)0%,rgb(255,255,255)85%, rgb(105,255,51.6) 100%);
    }
    .card-derck {
        height: 300px;
    }
    .card-body {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon-violet-btn {
        position: absolute;
        color: rgb(217, 217, 217);
        background: rgba(41,6,60,.5);
        border-color: rgb(105, 255, 51);
    }
    .icon-violet-btn:hover {
        background: rgba(41,6,60,1);
        border-color: rgb(105, 255, 51);;
    }
    .icon-violet-btn .btn-text {
        position: relative;
        right: -30px;
    }
    /* iconos en botones */
    .icon {
        position: absolute;
        left: 20px;
        padding-right: 30px;
    }
    /* FOOTER */
    .footerContainer {
        height: 500px;
        width: 1920px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }
    .footerInfoContainer {
        display: block;
        width: 100%;
    } 
    .icons-social {
        margin-bottom: 60px;
    }
    footer {
        width: 1920px;
        background: black;
        border-top: 4px solid rgb(105, 255, 51);;
        text-align: center;
        color: rgb(112, 112, 112);
    }
    footer .links {
        height: 430px;
        font-size: 22px;
        padding-top: 110px;
        padding-bottom: 20px;
    }
    .footer-logo{
        height: 50px;
        margin-bottom: 30px;
    }
    .links a {
        /* text-decoration: none; */
        color: rgb(112, 112, 112);
        display: inline-block;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    .links a:hover {
        color: rgb(217, 217, 217);
    }
    footer .copyright {
        height: 100px;
        border-top: 2px solid rgb(105, 255, 51);;
        padding: 35px 0;
        font-size: 18px;
    }
    /* FOOTER Mobile */
    @media (max-width: 375px) {
        @media (max-width: 375px) {
            .h1, h1 {
                font-size: 2rem;
                margin:0;
            }
            header {
                width: 375px;
                height: 100px;
            }
            .newAcount {
                margin-top: 40px;
            }
            a.PregFrec.newAcount  {
                margin-top: 20px;
            }
           .background_nav {
                height: 100px;
                width: 375px;
                background-color: black;
            }
        
            .nav-bg {
                padding: 0;
                height: 100px;
                width: 375px;
            }
            .container_form {
                align-self: flex-start;
                width: 100%;        
                height: 750px;
                padding: 30px;
            }
            .container_steps {
                width: 350px;
            }
            .container {
                height: 686px;
                padding: 0;
                max-width: 375px;
            }
            .input {
                margin-top: 30px;
            }
            .form-group {
                margin-bottom: 1rem;
            }
            
            .buttonForm {
                width: 310px;
            }
           footer {
                width:375px;
            }
        /* footer .links {
            height: 150px;
            font-size: 10px;
            padding: 5px 0;
            justify-content: center !important;
        }
        footer .links a {
            margin-bottom: 2px;
        }
        footer img {
            transform: scale(0.4);
        }
        .footer-logo{
            height: 50px;
            margin-bottom: 30px;
        }
        footer .copyright {
            height: 45px;
            border-top: 1px solid rgb(105, 255, 51);;
            padding: 10px 0;
            font-size: 12px;
        } */
        }
}