body {
    margin: 0;
    padding: 0;
    font-family: 'Nosifer', cursive;
    background: rgb(55, 50, 65);
}

/* Avatar */
#avatar {
    position: absolute;
    bottom: 100px;
    left: 100px;
    width: 93px;
    height: 140px;
    background: url(../images/avatar.png);
    z-index: 100;
}
.run {
    animation: run 0.6s steps(43) infinite;
}
@keyframes run {
    from {background-position-x: 0px;}
    to {background-position-x: -3999px;}
}
.jump {
    animation: jump 0.7s ease-out infinite, run 1.8s steps(43) infinite;
}
@keyframes jump {
    0% {transform: translate(0px,0px);}
    25% {transform: translate(0px,-180px);}
    50% {transform: translate(0px,-200px);}
    75% {transform: translate(0px,-180px);}
    100% {transform: translate(0px,0px);}
}
.die {
    animation: die linear 1.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}
@keyframes die {
    0% {transform: translate(0px,0px)  rotate(0deg);}
    15% {transform: translate(-63px,-112px)  rotate(-54deg);}
    50% {transform: translate(-176px,-176px)  rotate(-180deg);}
    85% {transform: translate(-290px,-159px)  rotate(-302deg);}
    100% {transform: translate(-357px,-85px)  rotate(-360deg);}
}

/* Zombie */
#zombie {
    position: absolute;
    bottom: 5px;
    right: -100px;
    width: 91px;
    height: 100px;
    background: url(../images/zombie.png);
    z-index: 1;
}
.zanimate {
    animation: zanimate 0.8s steps(2) infinite;
}
@keyframes zanimate {
    from {background-position-x: 0px;}
    to {background-position-x: -182px;}
}
.zmove {
    animation: zmove 3s linear infinite;
}
@keyframes zmove {
    from {right: -100px;}
    to {right: 1200px;}
}

/* Spider */
#spider {
    position: absolute;
    bottom: 600px;
    left: 50px;
    width: 109px;
    height: 700px;
    background: url(../images/spider.png);
    z-index: 1;
}
.sdrop {
    animation: sdrop 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}
@keyframes sdrop {
    0% {bottom: 600px;}
    40% {bottom: 5px;}
    50% {bottom: 600px;}
    100% {bottom: 600px;}
}

/* Background */
.layer {
    position: relative;
    margin: 0 auto;
    margin-top: 80px;
    width: 1024px;
    height: 576px;
}
.layer7 {
    background: url(../images/background/layer_07.png);
    background-size: cover;
    z-index: -7;
    animation: parallax 360s linear infinite;
    box-shadow: 0px 0px 45px 0px rgba(0,0,0,1);
}
.layer6 {
    background: url(../images/background/layer_06.png);
    background-size: cover;
    z-index: -6;
    animation: parallax 180s linear infinite;
}
.layer5 {
    background: url(../images/background/layer_05.png);
    background-size: cover;
    z-index: -5;
    animation: parallax 100s linear infinite;
}
.layer4 {
    background: url(../images/background/layer_04.png);
    background-size: cover;
    z-index: -4;
    animation: parallax 50s linear infinite;
}
.layer3 {
    background: url(../images/background/layer_03.png);
    background-size: cover;
    z-index: -3;
    animation: parallax 30s linear infinite;
}
.layer2 {
    background: url(../images/background/layer_02.png);
    background-size: cover;
    z-index: -2;
    animation: parallax 25s linear infinite;
}
.layer1 {
    background: url(../images/background/layer_01.png);
    overflow: hidden;
    background-size: cover;
    z-index: -1;
    animation: parallax 5s linear infinite;
}
@keyframes parallax {
    100% {background-position-x: -1024px;}
}

/* Menu */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    display: block;
}
.popup-content {
    position: relative;
    background: linear-gradient(rgb(37, 0, 56), rgb(0, 0, 0));
    width: 800px;
    height: 450px;
    padding-top: 50px;
    margin: 100px auto;
    border: 5px solid #69FF33;
    font-size: 24px;
    text-align: center;
    border-radius: 0px;
}
.popup-content p, h4 {
    font-size: 22px;
    margin-bottom: 50px;
    color: #D9D9D9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.botones {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

.button {
    border-radius: 0px;
    font-weight: bold;
    font-size: 22px;
    font-family: SegoeUI-Bold, Segoe UI;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
    width: 200px;
    height: 60px;
    cursor: pointer;
}

/* Icon violet buton */
.icon-violet-btn {
    color:  rgb(37, 0, 56);
    background: linear-gradient(#d4fcc6 0%, #79ff4a 44%, #6fff3c 100%);
    border: transparent;
    border: none;
}
.icon-violet-btn:hover {
    border: none;
    color: rgb(37, 0, 56) !important;
}
